<nav class="navbar navbar-expand-lg ml-auto">
    <ul class="navbar-nav align-self-end">
        <li class="nav-item dropdown d-flex flex-column">
            <a class="nav-link fas fa-bars ml-auto <%= dashboard ? '' : 'page-header' %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if !dashboard && current_user%>
                <%= link_to(root_path,  class: "dropdown-links py-2") do %>
                <div class="row">
                    <div class="col-3">
                        <i class="fas fa-home mr-3"></i>
                    </div>
                    <div class="col-9">
                        <span class="text-muted">Home</span>
                    </div>
                </div>
                <% end %>
                <%= link_to(events_path,  class: "dropdown-links py-2") do %>
                <div class="row">
                    <div class="col-3">
                        <i class="fas fa-calendar-alt mr-3"></i>
                    </div>
                    <div class="col-9">
                        <span class="text-muted">Calendar</span>
                    </div>
                </div>
                <% end %>
                <%= link_to(expense_types_path,  class: "dropdown-links py-2") do %>
                <div class="row">
                    <div class="col-3">
                        <i class="fas fa-dollar-sign mr-3"></i>
                    </div>
                    <div class="col-9">
                        <span class="text-muted">Expenses</span>
                    </div>
                </div>
                <% end %>
                <%= link_to(places_path,  class: "dropdown-links py-2") do %>
                <div class="row">
                    <div class="col-3">
                        <i class="fas fa-map-marked-alt mr-3"></i>
                    </div>
                    <div class="col-9">
                        <span class="text-muted">Explore</span>
                    </div>
                </div>
                <% end %>
                <%= link_to(pet_path(current_user.pet),  class: "dropdown-links py-2") do %>
                <div class="row">
                    <div class="col-3">
                        <i class="fas fa-camera-retro mr-3"></i>
                    </div>
                    <div class="col-9">
                        <span class="text-muted">Photos</span>
                    </div>
                </div>
                <% end %>
                <%= link_to(friends_path,  class: "dropdown-links py-2") do %>
                <div class="row">
                    <div class="col-3">
                        <i class="fas fa-dog mr-3"></i>
                    </div>
                    <div class="col-9">
                        <span class="text-muted">Friends</span>
                    </div>
                </div>
                <% end %>
                <%= link_to(chatrooms_path,  class: "dropdown-links py-2") do %>
                <div class="row">
                    <div class="col-3">
                        <i class="fas  fa-comments mr-3"></i>
                    </div>
                    <div class="col-9">
                        <span class="text-muted">Chatroom</span>
                    </div>
                </div>
                <% end %>
                <% end %>
                <% if !dashboard && current_user %>
                <hr />
                <%end %>
                <%= link_to(about_path,  class: "dropdown-links py-2") do %>
                <div class="row">
                    <div class="col-3">
                        <i class="fas  fa-paw mr-3"></i>
                    </div>
                    <div class="col-9">
                        <span class="text-muted">About</span>
                    </div>
                </div>
                <% end %>
                <%= link_to(destroy_user_session_path,  method: :delete, class: "dropdown-links py-2") do %>
                <div class="row">
                    <div class="col-3">
                        <i class="fas fa-sign-out-alt mr-3"></i>
                    </div>
                    <div class="col-9">
                        <span class="text-muted">Logout</span>
                    </div>
                </div>
                <% end %>
            </div>
        </li>
    </ul>
</nav>