<h1>All my pets friends</h1>
<h3> Friend Requests:</h3>
    <% if @user.friend_requests? %>
        <% @requests.each do |friend| %>
        <%= friend.pet.pet_name%>
        <%= form_tag ({controller: 'friends', action: 'add', method: 'post', id: friend.id}) do %>
        <input type=submit value='Yes, be my bestie!'>
        <% end %>
        <%= form_tag ({controller: 'friends', action: 'reject', method: 'post', id: friend.id}) do %>
            <input type=submit value='Nope, soz!'>
            <% end %>
        <% end %>
    
    <% else %>
        <h6>Woof, nothing to see here</h6>
    <% end %>
<h3> Pending:</h3>
    <% if @user.requested_friends? %>
        <% @pending.each do |friend| %>
        <%= friend.pet.pet_name %>
        <% end %>
    <% else %>
        <h6>Nothing, nada, zilt</h6>
    <% end %>

<h3> Your Friends:</h3>
    <% if @user.friends.exists? != true %>
<h6>You have no Besties, go find some!</h6>
    <% else %>
    <% @friends.each do |friend| %>
        <%= link_to  friend.pet.pet_name, photos_show_path(friend) %>
        <% end %>
    <% end %>

<h3>Find Friends</h3>
<% Pet.all.each do |pet| %>
<% if @user.not_friends && pet.pet_name != current_user.pet.pet_name%>
    <%= pet.pet_name %>
    <%= form_tag ({controller: 'friends', action: 'create', method: 'post', id: pet.id}) do %>
        <input type=submit value='Add Friend'>
        <% end %>
    <% end %>
<% end %>