<div class="row my-5">
    <div class="col-6 mx-auto">
        <div class="container">
            <div class="row">
                <div class="col-2 mx-auto mb-2">
                    <%= image_tag('paw-logo.svg', class: 'paw-logo') %>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mx-auto">
                    <h3>New Pet Form</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mx-3">
    <div class="col-12 mx-auto">
        <h5>Sign up</h5>
        <p class="text-muted">Register with details</p>
        <%= simple_form_for @pet do |f| %>
        <%= f.error_notification %>

        <div class="form-group form-icons ">
            <span class="fa fa-user"></span>
            <%= f.input :pet_name,
                label: false,
                required: true,
                autofocus: true
            %>
        </div>

        <div class="form-group form-icons ">
            <span class="fa fa-user"></span>
            <%= f.input :breed,
                label: false,
                required: true,
                autofocus: true
                %>
        </div>

        <div class="form-actions ml-4 mb-3">
            <%= f.button :submit, "Add pet", class: "button button-lg primary-blue my-3" %>
        </div>
        <% end %>
    </div>
</div>