<div class="categories-header photos-header">
    <%= render 'components/header', path: root_path %>
    <h3 class="categories-text"">
    Photos
    </h3>
        <div class="profile-header">
            <div class="profile-pic">
                <% if @pet.photos.any? %>
                    <%= image_tag(@pet.photos.first, class: 'avatar rounded-circle') %>
                <%end%>
            </div>
            <div class="profile-text">
                <h3><%= @pet.pet_name %></h3>
            </div>
        </div>
</div>
<div class="pets-main">
        <div class="pets-body">
            <% @pet.photos.each do |photo| %>
                <div class="card">
                <%= link_to photo_path(photo.id) do %>
                <%= cl_image_tag photo.key, :aspect_ratio=>"1:1", :radius=>"20:80", crop: :fill %>
                <% end %>    
        </div>
            <% end %>
<%= render 'components/fab', path: new_photo_path %>
</div>