<div class="categories-header">
    <%= render 'components/header', path: chatrooms_path %>
    <h3 class="categories-text">
    <h1>#<%= @chatroom.name %></h1>
    </h3>
</div>
<div class= "col-sm-6">
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>
  <div class="messages-main">
  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
  <% end %>
  </div>
</div>