<div class="categories-header">
    <%= render 'components/header', path: events_path %>
</div>
<div class="row mx-2 flex-column mt-3">
    <div class="col my-3">
        <h5><%= event.id ? "Update event" : "Add a new event"%></h5>
    </div>
    <div class="col">
        <%= simple_form_for(event) do |f| %>
        <%= f.input :name, as: :string, required: true%>
        <%= f.input :description, as: :text, required: true %>
        <%= f.input :start_time, as: :string, required: true, input_html: {class: "datepicker"} %>
        <%= f.input :end_time, as: :string, required: true, input_html: {class: "datepicker"} %>
        <%= f.button :submit, "#{event.id ? "Update" : "Add" }", class: "button button-md primary-green" %>
        <% end %>
    </div>

</div>