<h1> MONTH</h1>
<%= link_to "week", events_path(week:true)%>
<%= month_calendar(number_of_weeks: 1) do |date| %>
<%= date %>
<% end %>

<% events.each do |event| %>
<div>
    <%= event.description %>
    <%= event.name %>
    <%= event.start_time %>
    <%= event.end_time %>
    <%= link_to "Edit", edit_event_path(event) %>
    <%= link_to "Delete", event_path(event), method: :delete %>
</div>
<% end %>