<h1> WEEK </h1>
<%= link_to "month", events_path(month:true)%>
<%= week_calendar(number_of_weeks: 1) do |date| %>
    <%= date %>
    <% end %>
    
    <% @events.each do |event| %>
        <div>
        <%= event.description %>
        <%= event.name %>
        <%= event.start_time %>
        <%= event.end_time %>
        </div>
        <% end %>     
        