<div class="categories-header blue">
    <%= render 'components/header', path: events_path %>
    <div class="row">
        <div class="col-2 mx-auto">
            <%= image_tag('time.svg', class: 'logo time-logo') %>
        </div>
    </div>
    <div class="row">
        <div class="col mx-auto text-center">
            <% if @event.start_time.strftime('%d %b %y') == @event.end_time.strftime('%d %b %y')%>
            <h5 class="pt-3"><%= @event.start_time.strftime('%d %b %y')%></h5>
            <% else %>
            <h5 class="pt-3"><%= @event.start_time.strftime('%d %b %y')%> - <%= @event.end_time.strftime('%d %b %y') %></h5>
            <% end %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-9 mx-auto">
        <%= render 'event-card', event: @event %>
    </div>
</div>