<div class="row header pb-3">
    <div class="container">
        <div class="row">
            <%= render 'components/header', path: events_path, white_header: true %>
        </div>
        <div class="row pb-3">
            <div class="col-5 d-flex justify-content-end">
                <%= image_tag('paw-logo.svg', class: 'logo') %>
            </div>
            <div class="col-7">
                <div class="container">
                    <div class="row">
                        <h6><%= @event.start_time.strftime('%d %b %y')%></h6>
                    </div>
                    <div class="row">
                        <h6><%= @event.start_time.strftime('%I%P') %> - <%= @event.end_time.strftime('%I%P') %></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row mt-5">
    <div class="col-9 mx-auto">
        <%= render 'event-card', event: @event %>
    </div>
</div>