<div class="row header pb-3">
    <div class="container">
        <div class="row">
            <%= render 'components/header', path: events_path, white_header: true %>
        </div>
        <div class="row pb-3">
            <div class="col-3 mx-auto">
                <%= image_tag('paw-logo.svg', class: 'logo') %>
            </div>
        </div>
        <div class="row">
            <div class="col-9 mx-auto text-center">
                <% if @event.start_time.strftime('%d %b %y') == @event.end_time.strftime('%d %b %y')%>
                <h6><%= @event.start_time.strftime('%d %b %y')%></h6>
                <% else %>
                <h6><%= @event.start_time.strftime('%d %b %y')%> - <%= @event.end_time.strftime('%d %b %y') %></h6>
                <% end %>
            </div>

        </div>
    </div>
</div>
</div>
</div>
<div class="row mt-5">
    <div class="col-9 mx-auto">
        <%= render 'event-card', event: @event %>
    </div>
</div>