<div class="dashboard-body">
    <div class="header__dashboard">
        <div class="container">
            <div class="row">
                <div class="col-2"><%= image_tag('paw-logo.svg', class: 'logo') %></div>
                <%= render 'components/hamburger-menu', dashboard: true %>
                <h1> About <h1>
                </div>
            </div>
        </div>
     </div>
      <div class="mid-container">
        <div class="row features-container">
            <div class="col-lg-4 col-md-4 text-center text-center__features">
                <div class="feature">
                  <div class="col-lg-4 col-md-4 image-center "><%= image_tag('love.png', class: 'love-icon') %></div>
                    <h6>Built By Pet Lovers, For Pets</h6>
                    <p class="text-muted"> Bestie Life has been custom built by pet owners for pet owners. Our dedicated team started from humble beginnings, mapping out how pets can live their Best Life. From here Bestie Life was born. Our team of developers are probably very similar to yourself - your pet is no doubt your bestie, you only want the best for your bestie and you're looking for tools to help your bestie live their best life.   </p>
                </div>
          </div>
   <div class="col-lg-4 col-sm-4 text-center text-center__features">
                <div class="feature">
                    <div class="col-lg-4 col-sm-4 text-center"><%= image_tag('paw-icon.png', class: 'paw-logo') %></div>
                    <h6> Our Team</h6>
                    <p class="text-muted"> Interestingly enough - Bestie Life was the final project for a coding bootcamp, the three main developers all built Bestie Life whilst learning to code themselves. Not only did Bestie Life give them all strong foundations at coding, but early on they learnt the importance of finding meaning behind what they're building. </p>
                </div>
              </div>

 <div class="col-lg-4 col-sm-4 text-center text-center__features">
                <div class="diego-feature">
                    <div class="col-lg-4 col-sm-4 text-center">

                      <%= image_tag('diego.jpg', class: 'avatar rounded-circle') %></div>
                    <h6> Diego </h6>
                    <p class="text-muted"> As a dedicated dog dad, Diego took inspiration from his own Bestie, Sundae to create everything Bestie Life is today. </p>
                </div>


 <div class="col-lg-4 col-sm-4 text-center text-center__features">
                <div class="diego-feature">
                    <div class="col-lg-4 col-sm-4 text-center">

                      <%= image_tag('aparna.jpg', class: 'avatar rounded-circle') %></div>
                    <h6> Aparna </h6>
                    <p class="text-muted"> Bestie Life's official back end wiz, there aren't too many problems Aparna can't solve. </p>
                </div>

 <div class="col-lg-4 col-sm-4 text-center text-center__features">
                <div class="diego-feature">
                    <div class="col-lg-4 col-sm-4 text-center">

                      <%= image_tag('cheena.png', class: 'avatar rounded-circle') %></div>
                    <h6> Cheena </h6>
                    <p class="text-muted"> As a dog and cat mama, Cheena's besties always come first. Cheena loves bringing ideas to live </p>
                </div>
              </div>
            </div>
</div>
