<div class="categories-header">
    <%= render 'components/header', path: root_path %>
    <div class="row">
        <h3 class="categories-text  mx-auto">About Us</h3>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center gap-1 p-3">
    <div class=" text-center text-center__features max-width">
        <div class="feature">
            <div class=" image-center "><%= image_tag('love.png', class: 'love-icon') %></div>
            <h6>Built By Pet Lovers, For Pets</h6>
            <p class="text-muted"> BestieLife was built by pet owners for pet owners. Our dedicated team started from humble beginnings, mapping out how your "Besties" can live their "Best Life". From here BestieLife was born. Our team of developers are just like yourself and want your pets to live their best lives.</p>
        </div>
    </div>
    <div class=" text-center text-center__features max-width">
        <div class="feature">
            <div class=" text-center"><%= image_tag('paw-icon.png', class: 'paw-logo') %></div>
            <h6> Our Team</h6>
            <p class="text-muted"> Our three lead developers built BestieLife whilst learning to code themselves at LeWagon's coding bootcamp. Not only did BestieLife give them all strong foundations at coding, but early on they learnt the importance of finding meaning behind what they're building. </p>
        </div>
    </div>

    <div class=" text-center text-center__features max-width">
        <div class=" text-center">
            <%= image_tag('diego.jpg', class: 'avatar rounded-circle') %></div>
        <h6> Diego </h6>
        <p class="text-muted"> As a dedicated dog dad, Diego took inspiration from his own Bestie, "Sundae", to create everything BestieLife is today. The official BestieLife idea's Man, you'll find him coding new features with Sundae always by his side.</p>
    </div>


    <div class=" text-center text-center__features max-width">
        <div class=" text-center">
            <%= image_tag('aparna.jpg', class: 'avatar rounded-circle') %></div>
        <h6> Aparna </h6>
        <p class="text-muted"> Professional problem solver with an incredible eye for detail, Aparna elevated BestieLife to the next level! Back-end Wiz, Front-end Wiz... there's nothing Aparna can't do! And if she doesn't know how, she'll figure out a way to solve it ;-)</p>
    </div>

    <div class=" text-center text-center__features max-width">
        <div class=" text-center">
            <%= image_tag('cheena.png', class: 'avatar rounded-circle') %></div>
        <h6> Cheena </h6>
        <p class="text-muted"> As an advid animal lover and dog/cat mama, Cheena's besties always come first. Cheena connected early on with the concept of BestieLife and has been invaluable to ensure BestieLife's features always solved user's needs. Fact: You won't get past Cheena without her saying "HI BESTIE!".</p>
    </div>
</div>