<%= form_with(model: place, local: true, data: {
        controller: :maps,
        action: "google-maps-callback@window->maps#initializeMap" 
    }) do |form| %>
<div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, data: {target: "maps.latitude"}, class: "form-control" %>
</div>

<div class="field">
    <%= form.label :search %>
    <%= form.search_field :search, name: nil, data: {target: "maps.field", action: "keydown->maps#preventSubmit" }, class: "form-control" %>
</div>

<div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, data: {target: "maps.longitude"}, class: "form-control" %>
</div>
<%= content_tag :div, nil, data: {target: "maps.map"}, class: "map" %>
<div class="actions">
    <%= form.submit %>
</div>
<%end %>